# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\AndroidWork\Hangman-master\Hangman\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
